/yanyan-core/.mymetadata
/yanyan-core/.checkstyle
/yanyan-core/.classpath
/yanyan-core/.project
/yanyan-core/.class
/yanyan-core/.war
/yanyan-core/.zip
/yanyan-core/.rar
/yanyan-core/.idea
/yanyan-core/*.iml
/yanyan-core/.settings/*
/yanyan-core/indexes/*
/yanyan-core/target/*
/yanyan-core/src/main/webapp/WEB-INF/classes/*
/yanyan-core/src/main/webapp/userfiles/*


